<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-black text-white">
    
    <div class="flex items-center justify-center bg-[#555] p-8 max-w-4"></div>
    <div class="bg-[#222]">

        <h1 class="text-xl text-center font-semibold">File Name</h1>
        <h2 class="text-md font-medium">Task Title</h2>
        <p class="text-sm">Task Deatails</p>
    </div>
</body>
</html>